:root {
  --background: hsl(185, 75%, 39%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 85%);
  --text: hsl(246, 13%, 28%);
  --textLight: hsl(252, 2%, 54%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next,
#__next > div {
  height: 100%;
}

main {
  align-items: center;
  background: var(--background);
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.bg-pattern-top,
.bg-pattern-bottom {
  position: absolute;
}

.bg-pattern-top {
  top: -700px;
  left: -700px;
}

.bg-pattern-bottom {
  bottom: -700px;
  right: -700px;
}

.image-container {
  margin: -50px auto 0;
  max-width: 96px;
}

@media (min-width: 415px) {
  .bg-pattern-top {
    top: -650px;
    left: -650px;
  }

  .bg-pattern-bottom {
    bottom: -650px;
    right: -650px;
  }
}

@media (min-width: 768px) {
  .bg-pattern-top {
    top: -489px;
    left: -489px;
  }

  .bg-pattern-bottom {
    bottom: -489px;
    right: -489px;
  }
}
